/* Styles généraux (par défaut pour mobile <320px) */

* {
    color: #0a0a0a;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

body {
    background-color: #ffffff;
    margin: auto;
}

main {
    background-color: #ffffff;
    margin: 0;
    padding: 15px;
}

h1 {
    margin: 0;
}

h2 {
    color: #363636;
    font-weight: 600;
}

p {
    font-weight: 400;
}

p:last-child {
    margin-bottom: 0;
}

.boutons-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li,
.bouton {
    text-align: center;
    background-color: hsl(0, 0%, 96%);
    padding: 15px;
    margin: 20px 0 0 0;
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.boutons-container a {
    position: relative;
}

.boutons-container a::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

footer {
    background-color: hsl(0, 0%, 96%);
    width: 100%;
    padding: 15px 0;
}

footer p {
    margin: 0;
    font-size: 12px;
}

/* Responsive */

/*Styles pour les tablettes*/
@media (min-device-width : 320px) {

    main,
    .footer-content {
        width: 320px;
        margin: auto;
    }
}


/*Styles pour les grands écrans*/
@media (min-device-width : 769px) {
    body {
        background-image: url("https://metz.fr/n/fond01.webp");
    }

    main,
    .footer-content {
        width: 320px;
        margin: auto;
    }
}


/* Styles de la page AR */

.body_ar {
    margin: 0;
    overflow: hidden;
}

.bouton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
}

.scene {
    width: 100vw;
    height: 100vh;
}